@media screen and (min-width: 180px) {
    #nachos .nachos-image {
        visibility: hidden;
    }
}


@media screen and (min-width: 576px) {
    #nachos .nachos-image {
        visibility: visible;
    }
}

@media screen and (min-width:1400px) {
    #wings {
        margin: 50px;
        background-image: url(../Images/Bg-chix.png);
        background-repeat: no-repeat;
        background-position: right;
    }

    #burgers {
        background-image: url(../Images/burger-images-12.png);
        background-repeat: no-repeat;
        background-position: right;
        background-size: 600px;
    }

    #fries {
        margin-right: 50px;
        background-image: url(../Images/fries_bg-removebg-preview.png);
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
    }

}